
.order-summary {
    background: linear-gradient(90deg, #FFF7F0 0%, #FFFFFF 50%, #FFF7F0 100%);
} 

.card {
    border-radius: 1.5rem;/* 24px */
    background-color: $light;
    border: none;
}

.card-title {
    color: $gray-200;
    font-weight: bold;
    font-size: 32px;
}

.card-text {
    color: $gray-300;
    font-size: 16px;
}

.custom-title {
    margin-bottom: 72px;
  }
  
/* 手機端調整 */
@media (max-width: 768px) {
    .card {
        margin-bottom: 20px; 
    }
}