
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>index</title>
  </head>
  <body>
    <%- include('./layout/header'); -%>

    <!-- banner / Chung -->

    <!-- 保母服務 / Joy -->
  
    <!-- 毛孩爸媽怎麼說 / Tim -->

    <!-- 預定體驗 / Grace -->
    
    <!-- 大標題區 -->
  <div class="order-process">
    <section class="container my-4">
        <h1 class="pawfect-title">\ 最 Pawfect 的預訂體驗 /</h1>
        <h5 class="pawfect-subtitle">預定流程直覺好上手</h5>

    <!-- 三欄式卡片區 -->    
    <div class="row row-cols-1 row-cols-md-3 g-4">
    <!-- 第一張卡片 -->   
        <div class="col-md-3">
          <div class="card h-100">
            <p class="card-order" style="color: $primary;">01</p>
            <div class="card-icon mb-3">
              <img src="images/choice icon.png" class="card-img-top img-fluid" alt="...">
            </div>
            <div class="card-body">
              <h4 class="card-title">選擇理想保母</h4>
              <p class="card-text">點選您的地址和日期，我們將根據您的需求以及用戶推薦，為您精選出最適合您寵物性格和偏好的專業保母。</p>
            </div>
          </div>
        </div>
    
    <!-- 裝飾性圖標 -->
    <div class="col-md-auto">
        <img src="images/狗腳印.png" alt="裝飾性圖標" class="decorative-icon-1">
    </div>

    <!-- 第二張卡片 --> 
        <div class="col-md-3">
          <div class="card h-100">
            <p class="card-order" style="color: $secondary-100;">02</p>
            <div class="card-icon mb-3">
              <img src="images/reserve icon.png" class="card-img-top  img-fluid" alt="...">
            </div>
            <div class="card-body">
              <h4 class="card-title">快速預約</h4>
              <p class="card-text">使用我們的網站快速選擇服務時間並完成安全預約。在付款前，與多位保母確認細節，透明定價，無隱藏費用，讓您預訂無憂。</p>
            </div>
          </div>
        </div>
    
    <!-- 裝飾性圖標 -->
    <div class="col-md-auto">
        <img src="images/狗腳印.png" alt="裝飾性圖標" class="decorative-icon-2">
    </div>

    <!-- 第三張卡片 --> 
        <div class="col-md-3">
          <div class="card h-100">
            <p class="card-order" style="color: $thirdly-100;">03</p>
            <div class="card-icon mb-3">
              <img src="images/pay icon.png" class="card-img-top  img-fluid" alt="...">
            </div>  
            <div class="card-body">
              <h4 class="card-title">確認與付款</h4>
              <p class="card-text">確認細節並選擇保母，完成支付，隨時接收寵物更新。我們的客服隨時待命，確保您的寵物得到最佳照顧並提供即時幫助。</p>
            </div>
          </div>
        </div>
      </div>
    </section>  
  </div> 

    <!-- 常見問題 / Joy -->

    <%- include('./layout/footer'); -%>

    <script type="module" src="../main.js"></script>
  </body>
</html>
